name: ci-helm
permissions:
  packages: write
  contents: read
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.github/dependabot.yml'
      - '.github/workflows/ci-oras.yaml'
      - 'kustomization.yaml'
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.github/dependabot.yml'
      - '.github/workflows/ci-oras.yaml'
      - 'kustomization.yaml'
env:
  CHART_NAME: my-chart
  IMAGE_TAG: 0.1.0
  CONFIG_SYNC_VERSION: 1.13.0
jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.0.2
      - name: create kind cluster
        if: ${{ always() }}
        run: |
          kind version
          kind create cluster
      - name: config sync install
        run: |
          kubectl apply -f https://github.com/GoogleContainerTools/kpt-config-sync/releases/download/v${CONFIG_SYNC_VERSION}/config-sync-manifest.yaml --wait
      - name: helm install
        id: deploy
        if: ${{ always() }}
        run: |
          kubectl create ns $CHART_NAME
          helm upgrade --install $CHART_NAME ./$CHART_NAME -n $CHART_NAME --wait --timeout=60s
          kubectl wait --for=condition=available --timeout=60s deployment/$CHART_NAME -n $CHART_NAME
      - name: helm install errors in summary
        if: ${{ failure() && steps.deploy.outcome == 'failure' }}
        run: |
          echo "âŒ helm install errors:" >> $GITHUB_STEP_SUMMARY
          echo '`kubectl get events`:' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          kubectl get events -n $CHART_NAME >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo '`kubectl logs`:' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          kubectl logs -l app.kubernetes.io/name=$CHART_NAME -n $CHART_NAME >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
  
